In [1]:

# Step 1: Import Libraries
import pandas as pd
import numpy as np

In [2]:
# Step 2: Load Dataset
# Make sure Data.csv is in the same folder as this notebook
data = pd.read_csv("Data.csv")

In [3]:
# Preview first 5 rows
print("First 5 rows of the dataset:")
display(data.head())

First 5 rows of the dataset:

,ID,Title,Description,Category_title,Geometry_Coordinates_1,Geometry_Coordinates_2,Geometry_Coordinates_3,Geometry_Coordinates_4,Date,Time
0,EONET_14198,HOPE Wildfire Stevens Washington,15 Miles N from KETTLE FALLS WA,Wildfires,-117.982361 48.821248,NaN,NaN,NaN,2025-07-08,16:38:00
1,EONET_14200,Hot Canyon Wildfire Elko Nevada,10 Miles NW from Montello NV,Wildfires,-114.336333 41.368,NaN,NaN,NaN,2025-07-08,16:18:00
2,EONET_14215,13 MILE FIRE Wildfire Palm Beach Florida,21 Miles S from BELLE GLADE FL,Wildfires,-80.79 26.3833333,NaN,NaN,NaN,2025-07-08,15:34:00
3,EONET_14209,UDC Fire Wildfire Jefferson Oregon,1 Miles SW from warm springs OR,Wildfires,-121.288889 44.803444,NaN,NaN,NaN,2025-07-07,22:59:00
4,EONET_14199,0482 SUNRISE Wildfire Crook Oregon,8 Miles S from Paulina OR,Wildfires,-120.038167 44.019167,NaN,NaN,NaN,2025-07-07,14:45:00

In [4]:
# Step 3a: Dataset Info
print("\nDataset Information:")
data.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5393 entries, 0 to 5392
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      5393 non-null   object
 1   Title                   5393 non-null   object
 2   Description             634 non-null    object
 3   Category_title          5393 non-null   object
 4   Geometry_Coordinates_1  5393 non-null   object
 5   Geometry_Coordinates_2  31 non-null     object
 6   Geometry_Coordinates_3  30 non-null     object
 7   Geometry_Coordinates_4  28 non-null     object
 8   Date                    5393 non-null   object
 9   Time                    5393 non-null   object
dtypes: object(10)
memory usage: 421.5+ KB

In [5]:
# Step 3b: Descriptive Statistics
print("\nSummary Statistics:")
display(data.describe())

Summary Statistics:

,ID,Title,Description,Category_title,Geometry_Coordinates_1,Geometry_Coordinates_2,Geometry_Coordinates_3,Geometry_Coordinates_4,Date,Time
count,5393,5393,634,5393,5393,31,30,28,5393,5393
unique,5393,5379,627,4,5359,31,30,28,475,807
top,EONET_980,pouch point Wildfire Mountrail North Dakota,null Miles null from null,Wildfires,-81.085317 25.94815,-78.7 31.9,-78.8 32.7,-79.1 33.6,2024-08-09,19:00:00
freq,1,3,5,5318,3,1,1,1,68,3856

In [6]:
# Step 3c: Missing Values
print("\nMissing Values in Each Column:")
print(data.isnull().sum())

Missing Values in Each Column:
ID                           0
Title                        0
Description               4759
Category_title               0
Geometry_Coordinates_1       0
Geometry_Coordinates_2    5362
Geometry_Coordinates_3    5363
Geometry_Coordinates_4    5365
Date                         0
Time                         0
dtype: int64

In [7]:
# Step 4: Explore Categories
print("\nUnique Disaster Categories:")
print(data['Category_title'].unique())

Unique Disaster Categories:
['Wildfires' 'Severe Storms' 'Volcanoes' 'Sea and Lake Ice']

In [8]:
print("\nNumber of Events per Disaster Category:")
print(data['Category_title'].value_counts())

Number of Events per Disaster Category:
Category_title
Wildfires           5318
Sea and Lake Ice      40
Volcanoes             32
Severe Storms          3
Name: count, dtype: int64